.stadisticas_td_bg_izq {
    background-color: #141414;
	color: #FFFFFF;
	font-size:11px;
	border-top-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 5px;
}
.stadisticas_td_bg_der {
    background-color: #151515;
	color: #FFFFFF;
	font-size:11px;
	border-top-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0px;
}
.stadisticas_td_bg_izq_onlines {
    background-color: #141414;
	color: #FFFFFF;
	font-size:11px;
	border-left: 1px solid #2a2a2a;
	border-right: 0px solid #2a2a2a;
	border-top: 1px solid #2a2a2a;
	border-bottom: 1px solid #2a2a2a;
	border-top-right-radius: 0px;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 5px;
}
.stadisticas_td_bg_der_onlines {
    background-color: #151515;
	color: #FFFFFF;
	font-size:11px;
	border-left: 0px solid #2a2a2a;
	border-right: 1px solid #2a2a2a;
	border-top: 1px solid #2a2a2a;
	border-bottom: 1px solid #2a2a2a;
	border-top-right-radius: 5px;
	border-top-left-radius: 0px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0px;
}
.stadisticas_tab_bg {
	background-image:url(../images/content_bg.jpg);
	background-color:transparent;
	color: #FFFFFF;
	font-size:11px;
}
#topbar{
position:absolute;
padding: 2px;
width: 291px;
visibility: hidden;
z-index: 90;
}
.pos { margin-left:-20px;}
.us { margin-top:-20px;}

